fastapi==0.139.0
uvicorn==0.49.0
pydantic==2.13.4
python-dotenv==1.2.2

requests==2.34.2
beautifulsoup4==4.15.0
pandas==3.0.3

google-generativeai==0.8.5

numpy==2.3.2
faiss-cpu==1.12.0

sentence-transformers==5.1.0
torch==2.7.1
transformers==4.56.1
scikit-learn==1.7.1
scipy==1.16.1